/* line 1, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
body {
  background: #FAFAFA;
  font: 12px/1.5 'Lato', sans-serif;
  color: #101010;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  text-align: center;
}

/* line 12, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
a {
  text-decoration: none;
}

/* line 16, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
h1 {
  font: 700 34px/1 'Lato', sans-serif;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media (min-width: 480px) {
  /* line 16, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
  h1 {
    font-size: 40px;
  }
}

@media (min-width: 768px) {
  /* line 16, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
  h1 {
    font-size: 60px;
  }
}

@media (min-width: 1024px) {
  /* line 16, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
  h1 {
    font-size: 72px;
  }
}

@media (max-height: 450px) {
  /* line 16, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
  h1 {
    margin: 30px 0 0;
  }
}

/* line 39, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
h2 {
  font-size: 32px;
  color: #000000;
  margin: 40px 0;
}

@media (min-width: 1024px) {
  /* line 39, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
  h2 {
    font-size: 36px;
    margin: 70px 0;
  }
}

/* line 50, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
h3 {
  font-size: 18px;
  margin: 7px 0;
}

/* line 55, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
.wrapper {
  width: 100%;
  margin: 0;
}

/* line 60, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
.container {
  max-width: 1107px;
  margin: 0 auto;
  padding: 0 25px;
}

@media (min-width: 1024px) {
  /* line 60, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
  .container {
    padding: 0 15px;
  }
}

/* line 70, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0px;
  top: 30px;
  right: 0px;
  text-transform: uppercase;
}

/* line 80, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
.header a {
  color: #FFFFFF;
}

/* line 90, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
.logo img {
  width: 165px;
}

@media (min-width: 480px) {
  /* line 90, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
  .logo img {
    width: auto;
  }
}

/* line 99, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
.btn {
  cursor: pointer;
  background: transparent;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  border: none;
  border-radius: 6px;
  position: absolute;
  top: -1px;
  right: 71px;
}

@media (min-width: 768px) {
  /* line 99, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
  .btn {
    visibility: visible;
    top: 1px;
    right: 90px;
    padding: 5px 20px;
    border: 1px solid #fff;
  }
}

@media (min-width: 1024px) {
  /* line 99, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
  .btn {
    position: static;
    padding: 11px 28px;
  }
}

/* line 124, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
.btn .btn-txt {
  display: none;
}

@media (min-width: 768px) {
  /* line 124, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
  .btn .btn-txt {
    display: block;
  }
}

/* line 132, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
.btn .btn-img {
  width: 29px;
}

@media (min-width: 768px) {
  /* line 132, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
  .btn .btn-img {
    width: 0;
    display: none;
  }
}

@media (min-width: 768px) {
  /* line 144, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
  .btn:hover {
    background: #fff;
    color: #ED4C5C;
  }
}

/* line 154, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
.nav-list {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 40px;
  right: 15px;
  left: 15px;
  padding: 20px 0;
  border-radius: 20px;
  background-image: linear-gradient(90deg, rgba(86, 15, 30, 0.8) 0%, rgba(152, 40, 17, 0.8) 100%), url(../images/bg-main.jpg);
  background-size: cover;
  background-position: center;
  border: 3px solid #fff;
}

@media (min-width: 1024px) {
  /* line 154, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
  .nav-list {
    visibility: visible;
    opacity: 100%;
    position: static;
    background: transparent;
    width: 100%;
    border: none;
    display: flex;
    padding: 0;
  }
}

/* line 179, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
.nav-list li.active {
  font-weight: 700;
}

/* line 183, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
.nav-list li.active a {
  text-shadow: none;
  cursor: default;
}

/* line 188, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
.nav-list li.active a:hover:after {
  width: 0%;
}

/* line 192, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
.nav-list li {
  list-style: none;
  padding: 8px;
}

@media (min-width: 1024px) {
  /* line 192, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
  .nav-list li {
    padding: 0 10px;
  }
}

/* line 202, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
.nav-list a {
  font-size: 14px;
  position: relative;
}

/* line 207, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
.nav-list a,
.nav-list a:after {
  transition: none;
}

@media (min-width: 1024px) {
  /* line 207, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
  .nav-list a,
  .nav-list a:after {
    transition: all .3s;
  }
}

/* line 219, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
.nav-list a::after {
  position: absolute;
  bottom: -8px;
  left: 0;
  right: 0;
  width: 0%;
  content: '';
  background: #fff;
  height: 1px;
}

/* line 230, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
.nav-list a:hover:after {
  width: 100%;
}

/* line 234, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
.nav-list a:hover {
  text-shadow: 1px 0 1px #fff;
}

/* line 241, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
#menu-toggle {
  display: none;
}

/* line 245, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
.menu-btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 25px;
  width: 30px;
  height: 30px;
}

@media (min-width: 1024px) {
  /* line 245, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
  .menu-btn {
    visibility: hidden;
  }
}

/* line 260, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
.menu-btn > span, .menu-btn > span::after, .menu-btn > span::before {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fff;
}

/* line 268, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
.menu-btn > span::after {
  content: "";
  top: 10px;
}

/* line 273, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
.menu-btn > span::before {
  content: "";
  top: -10px;
}

/* line 278, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
#menu-toggle:checked ~ .menu-btn > span {
  transform: rotate(45deg);
  transition: transform 0.3s linear;
}

/* line 283, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
#menu-toggle:checked ~ .menu-btn > span::before {
  top: 0;
  transform: rotate(0);
}

/* line 288, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
#menu-toggle:checked ~ .menu-btn > span::after {
  top: 0;
  transform: rotate(90deg);
  transition: transform 0.3s linear;
}

/* line 294, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
#menu-toggle:checked ~ .nav-list {
  visibility: visible;
  opacity: 100%;
  transition: opacity .4s;
}

/* line 301, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
.main {
  flex-grow: 1;
}

/* line 305, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
.firstscreen {
  background-image: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%), url(../images/bg-main.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}

/* line 315, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
.firstscreen p {
  font-size: 16px;
  padding: 0 15px;
}

@media (min-width: 1024px) {
  /* line 315, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
  .firstscreen p {
    font-size: 24px;
    margin: 0;
  }
}

/* line 329, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
.firstscreen .container {
  max-width: 540px;
}

/* line 336, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
.signup-btn {
  padding: 10px 30px;
  background: #fff;
  color: #ED4C5C;
  text-transform: uppercase;
  border: 1px solid #fff;
  border-radius: 6px;
  display: inline-block;
  margin-top: 20px;
  font: 700 12px 'Lato', sans-serif;
}

@media (min-width: 1024px) {
  /* line 336, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
  .signup-btn {
    padding: 15px 54px;
    font-size: 14px;
    margin-top: 56px;
  }
}

@media (max-height: 450px) {
  /* line 336, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
  .signup-btn {
    margin-top: 0;
  }
}

/* line 360, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
.signup-btn:hover {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
}

/* line 366, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
.features {
  text-align: center;
}

@media (min-width: 768px) {
  /* line 370, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
  .cards {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  /* line 370, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
  .cards {
    padding-top: 25px;
  }
}

/* line 384, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  width: 90%;
  margin: 0 auto 65px;
}

@media (min-width: 768px) {
  /* line 384, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
  .card {
    width: 31%;
  }
}

@media (min-width: 1024px) {
  /* line 384, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
  .card {
    margin: 0 auto 80px;
  }
}

/* line 403, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
.card h3 {
  padding: 28px 30px 13px;
  line-height: 1.2;
}

/* line 408, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
.card img {
  border-radius: 10px;
  width: 100%;
}

/* line 413, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
.card-text {
  width: 83%;
  background: #fff;
  border-radius: 10px;
  margin-top: -88px;
}

/* line 420, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
.card-text p {
  margin: auto;
  width: 71%;
}

/* line 425, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
.card-text a {
  margin: 25px 0;
  display: inline-block;
  color: #ED4C5C;
}

/* line 431, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
.card-text a:hover {
  font-weight: 700;
}

/* line 435, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
.tech {
  background: #fff;
}

/* line 438, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
.tech h2 {
  padding-top: 40px;
  margin: 0;
}

/* line 444, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
.ksf {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 40px;
}

/* line 451, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
.ksf-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 20px auto 0;
}

@media (min-width: 480px) {
  /* line 451, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
  .ksf-holder {
    width: 45%;
  }
}

@media (min-width: 1024px) {
  /* line 451, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
  .ksf-holder {
    max-width: 255px;
    margin-bottom: 104px;
    width: 25%;
  }
}

/* line 468, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
.ksf-holder .big {
  font: 700 100px 'Lato', sans-serif;
  color: rgba(16, 16, 16, 0.08);
}

/* line 473, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
.ksf-holder img {
  width: 66px;
  max-height: 66px;
  margin-top: -60px;
}

/* line 479, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
.ksf-holder p {
  padding: 0 15px;
  line-height: 1.2;
}

/* line 486, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
.footer {
  background: #FAFAFA;
  text-align: left;
  padding-top: 40px;
}

@media (min-width: 1024px) {
  /* line 486, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
  .footer {
    padding-top: 80px;
  }
}

@media (min-width: 768px) {
  /* line 495, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
  .footer h3 {
    margin: 7px 0 35px;
  }
}

/* line 504, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
.footer ul {
  padding: 0;
}

/* line 508, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
.footer li {
  list-style: none;
  padding: 0;
}

@media (min-width: 1024px) {
  /* line 513, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
  .footer li a {
    margin: 0;
  }
}

/* line 521, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
.footer a {
  display: block;
  color: #101010;
  margin-bottom: 5px;
}

/* line 527, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
.footer a:hover {
  color: #ED4C5C;
}

/* line 533, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
.footer-flex {
  display: flex;
  margin-bottom: 50px;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (min-width: 768px) {
  /* line 533, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
  .footer-flex {
    justify-content: flex-end;
  }
}

@media (min-width: 1024px) {
  /* line 533, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
  .footer-flex {
    justify-content: space-between;
  }
}

/* line 548, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
.footer-holder {
  width: 40%;
}

@media (min-width: 768px) {
  /* line 548, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
  .footer-holder {
    width: 33%;
  }
}

@media (min-width: 1024px) {
  /* line 548, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
  .footer-holder {
    width: 25%;
  }
}

/* line 559, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
.footer-holder address {
  max-width: 175px;
  font-style: initial;
}

/* line 564, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
.footer-holder > img {
  width: 100%;
  max-width: 215px;
}

/* line 573, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
.icons a {
  display: inline;
}

/* line 577, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
.icons img {
  margin: 10px 10px 0 0;
  width: 14px;
}

/* line 582, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
.icons a img:hover {
  filter: drop-shadow(0 0 5px #000);
}

/* line 587, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
.copy {
  text-align: center;
}

@media (min-width: 1024px) {
  /* line 587, ../../Docs/Frontend/Github-projects/project13/scss/style.scss */
  .copy {
    text-align: left;
  }
}

/*# sourceMappingURL=style.css.map */