.teampage {
    .hero {
        @media (min-width: 1024px) {
            padding: 0 200px 30px;
            display: block;
        }
    }
}

.team-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 0 30px;
    @media (min-width: 600px) {
        padding: 25px 0 40px;
    }
    @media (min-width: 768px) {
        padding: 40px 0;
    }
}

.member-card {
    color: $txt-grey-color;
    padding: 10px 0;
    @media (min-width: 600px) {
        width: 47%;
        padding: 20px 0;
    }
    @media (min-width: 1024px) {
        width: 31%;
    }

    img {
        width: 47%;
        border-radius: 12px;
        @media (min-width: 600px) {
            width: 100%;
        }
    }

    h4 {
        margin: 0;
        padding: 3px 0;
        font-weight: 500;
        @media (min-width: 1024px) {
            padding: 15px 0 5px;
        }
    }

    

    br {
        @media (min-width: 1124px) {
            display: none;
        }
    }
}

a:hover .mob-right:after  {
    background-color: $bg-alt-color;
}

a:hover h4 {
    color: $accent-color;
}

.position {
    position: relative;
    display: block;
    font-size: 16px;
    color: $txt-grey-color;
}

.card-flex {
    display: flex;
    @media (min-width: 600px) {
        display: block;
    }

    .mob-right {
        display: flex;
        flex-direction: column;
        position: relative;
        margin: auto 0 0 20px;
            @media (min-width: 600px) {
            display: block;
            margin: 0;
        }
    }

    .mob-right:after {
        content: url("../images/arrow.svg");
        padding: 8px 0 0 13px;;
        width: 32px;
        height: 32px;
        display: block;
        background-size: 32px 32px;
        background-color: $bg-color;
        border-radius: 50%;
        margin-top: 10px;
        line-height: 0;
        @media (min-width: 600px) {
            position: absolute;
            bottom: 14px;
            right: 0;
        }
    }
}
