@import "reset";
@import 'base';
@import 'header';
@import 'mainpage';
@import 'about';
@import 'team';
@import 'team-member';
@import 'footer';

$main-color: #323264;
$main-alt-color: #46466e;
$main-soft-color: #686887;
$accent-color: #F0145A;
