@import 'base';
@import 'header';

.firstscreen {
    background: url("../images/long-leg.svg"), linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
    background-size: 80vh, 100%;
    background-position: bottom center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    @media (min-width: 1024px) {
    background: url("../images/long-leg.svg"), url("../images/firstscr-pattern.svg"), linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
    background-size: 80vh, 80vh, 100%;
    background-position: bottom, center, center;
    background-repeat: no-repeat;
    }
}

.scroll {
    background: linear-gradient(180deg, rgba(50, 50, 100, 0) 16.67%, #323264 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    .img {
        width: 42px;
    }

    a {
        margin-bottom: 20px;
    }
}

.secondscreen {
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%);
    // background-size: 100% 1400px;
    background-position: center;
    background-repeat: no-repeat;
    // height: 100%;
    color: #fff;
    border-radius: 0 0 12px 12px;

    .txt-slider {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        @media (min-width: 1024px) {
        padding-top: 80px;
        flex-direction: row;
        }
    }

    h2 {
        color: #fff;
    }

    li.active::after {
        @media (min-width: 1024px) {
            height: 100%;
        }
    }

    a:after {
        @media (min-width: 1024px) {
            transition: all .8s;
        }
        
    }

    a:hover:after {
        @media (min-width: 1024px) {
            height: 100%;
        }
    }

    li.active a, .subtitle {
        cursor: default;
        background: linear-gradient(90deg, #f0145a 0%, #ef8080 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .utp-detail {
        font-size: 18px;
        @media (min-width: 1024px) {
            width: 55%;
            padding: 0 200px 0 40px;
            font-size: 21px;
        }
    }

    .bullet li:not(.active) {
        @media (min-width: 1024px) {
            opacity: 1;
        }
        
    }
}

.utp {
    display: flex;
    padding: 0;
    @media (min-width: 1024px) {
        width: 45%;
        text-align: right;
        border-right: 4px solid #e6e6f0;
        display: block;
    }

    a {
        font-size: 0;
        // line-height: 0;
        @media (min-width: 1024px) {
            color: #b3b3ba;
            font-weight: 700;   
            font-size: 42px;
        }

    }

    a:hover {
        background: linear-gradient(90deg, #f0145a 0%, #ef8080 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    a::after, li.active::after {
        @media (min-width: 1024px) {
            content: '';
            position: absolute;
            width: 4px;
            height: 0;
            background: #f0145a;
            top: 0;
            right: -4px;
        }
    }
}




.utp li, .utp li.active {
    @media (min-width: 1024px) {
        padding-right: 40px;
        position: relative;
        display: block;
        width: auto;
        height: auto;
        background: none;
        margin: 0;
    }
}








.subtitle {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    padding: 0;

    @media (min-width: 1024px) {
        display: none;
    }
}

.services {

    .caps a {
        color: #fff;
        opacity: .5;
    }

    .caps a:hover {
        opacity: 1;
    }

    h3 {
        color: #24a3ff;
    }
}

.serv-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .item {
        width: 100%;
        @media (min-width: 1024px) {
            width: 32%;
        }
    }
}

.shadow {
    width: 100%;
    :nth-child(1) {
        background: #cacadb;
        margin: 0 20px;
    }

    :nth-child(2) {
        background: #e7e7f2;
        margin: 0 40px;
    }

    .shadow-holder {
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 0px 0px 12px 12px;
        background-size: cover;
        height: 10px;
    }
}

.team-banner {
    display: flex;
    margin-top: 50px;
    
    flex-wrap: wrap;
}

.bg-rounded {
    background: #f5f5fa;
    border-radius: 12px;
    overflow: hidden;
}

.photo-mob {
    border-radius: 50%;
    overflow: hidden;
    width: 60px;
    height: 60px;
    @media (min-width: 1024px) {
        display: none;
    }
}

.member-photo {
    display: none;
    @media (min-width: 1024px) {
        display: block;
        width: 31%;
    }

    img {
        height: 100%;
    }
}

.member-text {
    padding: 20px;
    @media (min-width: 1024px) {
        width: 69%;
        padding: 40px;
    }

    .caps {
        color: #24a3ff;
    }

    .caps, h4 {
        margin: 0;
    }

    .hero {
        margin: 3px 0 10px;
        display: block;
        @media (min-width: 1024px) {
            margin: 3px 0 30px;
        }

    }
}

.name-position, .name-position h4 {
    display: flex;
    align-items: center;
    color: #b3b3ba;
}

.name-position-mob {
    width: 70%;
    padding-left: 10px;
}

.name-position-mob p {
    margin: 0;
    font-size: 16px;
}

.cases {
    display: flex;
    flex-wrap: wrap;    

    h3, p {
        width: 100%;
    }

    
}

.case-holder {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    // padding: 20px;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;

    h3 {
        color: #686887;
    }

    p {
        color: #b3b3ba;
    }

    .caps {
        color: #f0145a;
        border-bottom: 2px solid #fff;
        margin: 0;
        padding: 20px;
        margin-bottom: 30px;
    }

    h3, p {
        margin: 0;
        padding: 10px 20px;
    }

    


}

.case-holder:nth-child(1) {
    width: 100%;

    @media (min-width: 1024px) {
        width: 32%;
    }
}

.case-holder:nth-child(2) {
    width: 100%;
    @media (min-width: 1024px) {
        width: 34%;
    }
}

.case-holder:nth-child(3) {
    width: 100%;
    @media (min-width: 1024px) {
        width: 34%;
    }
}

.case-holder:nth-child(4) {
    width: 100%;
    @media (min-width: 1024px) {
        width: 24%;
    }
}

.case-holder:nth-child(5) {
    width: 100%;
    @media (min-width: 1024px) {
        width: 34%;
    }
}

.case-holder:nth-child(6) {
    width: 100%;
    @media (min-width: 1024px) {
        width: 42%;
    }
}

.trust {
    text-align: center;
    
    .caps {
        color: #323264;
        margin: 30px 0;
    }
}

.partners {
    display: flex;
    flex-wrap: wrap;
    
    .logo-holder {
        width: 50%;
        // padding: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90px;
        @media (min-width: 1024px) {
            width: 25%;
            height: 120px;
        }

        a {
            line-height: 0;
        }


        img {
            max-width: 90%;
            max-height: 90%;
        }
    }
}

.publications {
    background: #f5f5fa;
    height: 920px;
    overflow: hidden;
    @media (min-width: 1024px) {
        height: 870px;
    }


    a {
        color: #24a3ff;
    }

    .caps {
        padding: 40px 0 20px;
        margin: 0;

    }
}

.pub-board {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pub-column {
    width: 100%;
    @media (min-width: 1024px) {
        width: 31%;
    }

    .article {
        background: #fff;
        border-radius: 8px;
        overflow: hidden;
        margin: 20px 0;

        
    }

    .date {
        text-transform: uppercase;
        display: block;
        font-size: 14px;
        font-weight: 700;
        color: #b3b3ba;
        
        @media (min-width: 1024px) {
            border-bottom: 4px solid #e6e6f0;
        }
    }

    p, h4, .date {
        padding: 5px 0 20px;
        margin: 20px;
    }
}
